<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Let's Blog</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand">
            <img class="brand-logo" src="/images/favicon.ico" alt="Logo">
            <p class="brand-name">Let's Blog</p>
        </div>
        <ul class="navbar-list">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/create">Create</a>
            </li>
            <li>
                <a class="nav-link" href="/update">Update</a>
            </li>
        </ul>
    </nav>
