body {
    background-color: #FFF8DE;
}

.navbar{
    background-color: #8CA9FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.brand{
    display: flex;
    padding: 5px;
}

.brand-logo{
    width: 3rem;
    margin-right: 5px;
    border-radius: 10px;
}
.brand-name{
    font-size: larger;
    margin: 0px;
    align-self: center;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
}

.nav-link{
    padding-right: 20px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    color: white;
}

footer{
    background-color: #AAC4F5;
    padding: 15px;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: calc(100% - 50px);
}

/* Home page styles */

.blog-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: auto;
}

.blog{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #AAC4F5;
    display: flex;
}

.blog-list{
    padding: 0px;
    padding-right: 10px;
    margin: 0px;
    width: 100%;
}

.blog-element{
    border-radius: 10px;
    margin: 5px;
    background-color: #FFF2C6;
    border: 1px solid darkgrey;
    padding: 5px;
    width: 100%;
}

.blog-content{
    border-radius: 0px;
    margin: 0px;
    background-color: #FFF2C6;
    border: 0px solid darkgrey;
    padding: 0px;
    width: 100%;
    min-height: 25rem;
}

.blog-list-item{
    padding: 10px 0px;
}

.blog-list-item:hover{
    background-color: darkgrey ;
    border-color: black;
}


/* create page styles */


.create-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.create-form {
    grid-area: 2 / 2 / 3 / 3;

    background-color: #AAC4F5;
    min-height: 400px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid darkgrey;
    padding: 10px;

    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 6fr;
    gap: 10px;
}

.form-element {
    background-color: #FFF2C6;
    border-radius: 10px;
    border: 1px solid darkgrey;
    padding: 5px;
}

.title-input {
    grid-column: 1;
    grid-row: 1;
}

.create-btn {
    grid-column: 2;
    grid-row: 1;
    background-color: lightgreen ;
}

.create-form > button:hover{
    background-color: darkgray ;
    border-color: black;
} 

.content-input {
    grid-column: 1 / 3; 
    grid-row: 2;

    height: auto;
    resize: vertical;
}


/* update page styles */


.update-form {
    background-color: #AAC4F5;
    min-height: 400px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid darkgrey;
    padding: 10px;

    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    gap: 10px;
}

.update-form > .content-input {
    grid-column: 1 / 4; 
}

.update-btn {
    grid-column: 2;
    grid-row: 1;
    background-color: lightgreen ;
}

.update-form > button:hover{
    background-color: darkgray ;
    border-color: black;
} 

.delete-btn {
    grid-column: 3;
    grid-row: 1;
    background-color: red ;
}

.update-form > button:hover{
    background-color: darkgray ;
    border-color: black;
} 